<div *ngIf="user" class="min-h-screen bg-gray-100 space-y-12 py-10 text-2xl">
  <div class="container mx-auto">
    <div class="bg-white max-w-xl mx-auto rounded-2xl overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-105 cursor-pointer">
      <div class="h-20 bg-red-500 flex items-center justify-between">
        <h1 class="text-white ml-4 border-2 py-2 px-4 rounded-full">{{user.id}}</h1>
        <p class="mr-20 text-white text-lg">{{user.name}}</p>
        <p class="mr-4 text-white font-thin text-lg">{{user.username}}</p>
      </div>

      <p class="py-6 text-lg tracking-wide ml-16">City: {{user.address.city}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">Zipcode: {{user.address.zipcode}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">Street: {{user.address.street}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">Suite: {{user.address.suite}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">Geolocation: {{user.address.geo.lat}}x{{user.address.geo.lng}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">Company</p>
      <p class="whitespace-pre-line"></p>
      <p class="py-6 text-lg tracking-wide ml-16">Name: {{user.company.name}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">{{user.company.bs}}</p>
      <p class="py-6 text-lg tracking-wide ml-16">Catchphrase: {{user.company.catchPhrase}}</p>
      <!-- <hr > -->
      <div class="flex justify-between px-5 mb-2 text-sm text-gray-600">
        <div class="flex-col"><p>{{user.email}}</p>
                          <p>{{user.website}}</p>
        </div>
        <p>{{user.phone}}</p>
      </div>
    </div>
  </div>
</div>
